body {
  background-color: bisque;
}

.titulo-principal {
  margin-bottom: 10%;
}

.container {
  text-align: center;

}

.container2 {
  display: flex;
  flex-direction: row; /* Define a direção da flexbox para linha */
  justify-content: space-evenly; /* Centraliza os itens horizontalmente */

}

.paragraph {
  width: 50%; /* Define a largura para 50% do contêiner .container2 */
  border: 1px solid #000; /* Adiciona uma borda para visualização */
  width: 400px;
  height: auto;
  box-sizing: border-box; /* Garante que o preenchimento e a borda sejam incluídos na largura total da caixa */
}
