body {
  background-color: rgb(255, 246, 199);
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  width: 100vw; /* 100% da largura da viewport */
  overflow: hidden;
  background-color: rgba(208, 97, 97, 0.3);
  backdrop-filter: blur(40px);
  padding: 20px 10px;
}

.header img {
  margin-left: 1.2%;
  float: left;
  width: 50px;
  
}

.header a {
  color: black;
  padding: 12px;
  text-decoration: none !important;
  font-size: 17px;
  line-height: 25px;
  border-radius: 4px;
  opacity: 1;
  transition: opacity 0.3s linear 0s;
}

.header a, img:hover {
  opacity: 0.62;
}

.header a.active {
  background-color: dodgerblue !important;
  color: white !important;
}

.header-right {
  display: flex;
  justify-content: center;
  align-items: center; 
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}