body {
  background-color: rgb(255, 246, 199);
  font-family: Arial, Helvetica, sans-serif;
}

div#area{
  font: 20pt;
  background-color: aquamarine;
  color: black;
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
}

input{
  width: 80px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}
div#res{
  margin-top: 20px;
}
